#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  margin-bottom: 30px;
}

Img{
  aspect-ratio: 3/2;
}


.contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

footer{
  margin-top: 30px;

}



